<div class="banner text-center">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p>Classic</p>
  </div>
</div>
<div class="container text-center my-4">
  <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.image_path %>)">
          <%= list.name%>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to new_list_path do %>
    <button type="button" class="my-4 btn btn-success">Create a new movie list</button>
  <% end %>
</div>
