<p>
  <%= @list.name %>
</p>
<p>Movies:</p>
<ul>
  <% @list.movies.each do |movie| %>
    <li><%= movie.title %></li>
  <% end %>
</ul>
<p>Bookmarks:</p>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.id %></li>
    <%= link_to "Delete",
      bookmark_path(bookmark),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  <% end %>
</ul>
