<div class="banner text-center" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('<%= cl_image_path @list.photo.key ? @list.photo.key : "vbkdy5s19ocgl1hhwrtt7uu3goar" %>')">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="container my-4">
  <%= render 'cards' %>
  <%# add a new bookmark button %>
  <div class='my-4'>
    <%= link_to new_list_bookmark_path(@list) do %>
      <button class='btn btn-success'>Add a new bookmark</button>
    <% end %>
  </div>
</div>
