<div class="card w-50 my-4">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit class:'btn btn-success' %>
  <% end %>
</div>
