 <nav class="navbar navbar-light bg-light px-4">
  <a class="navbar-brand" href="/lists"><i class="fa-solid fa-film"></i></a>
  <ul>
    <li><a class="nav-link" href="/lists">My lists</a></li>
    <li><a class="nav-link" href="/lists/new">New list</a></li>
  </ul>
</nav>
